<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_reshub.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/ResHubImages/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ResHubImages/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ResHubImages/favicon/favicon-16x16.png">
    <link rel="manifest" href="/ResHubImages/favicon/site.webmanifest">
    <title>ECS | RES-Hub</title>
</head>
<body id="bootstrap-overrides">  <!-- id for overriding css -->

    <!-- -------------------HEADER------------------ -->
    <div class="header">

        <nav class="navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar" style="background-color: #888;"></span>
                  <span class="icon-bar" style="background-color: #888;"></span>
                  <span class="icon-bar" style="background-color: #888;"></span>                        
                </button>
                <a href="/"><img src="/ResHubImages/compressed logo.png" height="35cm" alt="ECS" class="nav-img"></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="sem-hover" href="/1stsem" style="padding: 10px 13px;">1stSem</a></li>
                    <li><a id="sem-hover" href="/2ndsem" style="padding: 10px 13px;">2ndSem</a></li>
                    <li><a id="sem-hover" href="/3rdsem" style="padding: 10px 13px;">3rdsem</a></li>
                    <li><a id="sem-hover" href="/4thsem" style="padding: 10px 13px;">4thsem</a></li>
                    <li><a id="sem-hover" href="/5thsem" style="padding: 10px 13px;">5thsem</a></li>
                    <li><a id="sem-hover" href="/6thsem" style="padding: 10px 13px;">6thsem</a></li>
                    <li><a id="sem-hover" href="/7thsem" style="padding: 10px 13px;">7thsem</a></li>
                    <li><a id="sem-hover" href="/8thsem" style="padding: 10px 13px;">8thsem</a></li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    
<!-- -------------------x HEADER x------------------ -->
    
<!-- -------------------MAIN (Flipping Cards part)------------------ -->
    <div class="main">

        <div class="title">
              <h1>ECE RESOURCE HUB</h1>
        </div>
        <!-- ====== First Year ======== -->
        <div class="flip-container">
            <!-- FRONT OF CARD -->
            <div class="front side">
                <div class="content left face-front">
                    <h1>First Year</h1>
                    <img src="/ResHubImages/58595c284f6ae202fedf2844.png" alt="">
                </div>
            </div>

            <!-- BACK OF CARD -->
            <div class="back side">
                <div class="content revleft">
                    <!-- <h1>Flip Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <div>
                        <a href="/1stsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">1st Semester</p>
    
                    </div>
                    
                    <div>
                        <a href="/2ndsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">2nd Semester</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!--=============== Second Year ====================-->
        <div class="flip-container" id="flip-container">
            <!-- FRONT OF CARD -->
            <div class="front side">
                <div class="content right face-front">
                    <h1>Second Year</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <img src="/ResHubImages/roman2.png" alt="">
                </div>
            </div>

            <!-- BACK OF CARD -->
            <div class="back side">
                <div class="content revright">
                    <!-- <h1>Flip Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <div>
                        <a href="/3rdsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">3rd Semester</p>
    
                    </div>
                    
                    <div>
                        <a href="/4thsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">4th Semester</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- ============= Third Year ===================-->
        <div class="flip-container">
            <!-- FRONT OF CARD -->
            <div class="front side">
                <div class="content left face-front">
                    <h1>Third Year</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <img src="/ResHubImages/roman3.png" alt="">
                </div>
            </div>

            <!-- BACK OF CARD -->
            <div class="back side">
                <div class="content revleft">
                    <!-- <h1>Flip Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <div>
                        <a href="/5thsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">5th Semester</p>
    
                    </div>
                    
                    <div>
                        <a href="/6thsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">6th Semester</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ Fourth Year ================-->
        <div class="flip-container">
            <!-- FRONT OF CARD -->
            <div class="front side">
                <div class="content right face-front">
                    <h1>Fourth Year</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <img src="/ResHubImages/roman 5 (1).png" class="roman4" alt="">
                </div>
            </div>

            <!-- BACK OF CARD -->
            <div class="back side">
                <div class="content revright">
                    <!-- <h1>Flip Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem earum velit!</p> -->
                    <div>
                        <a href="/7thsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">7th Semester</p>
    
                    </div>
                    
                    <div>
                        <a href="/8thsem"><img src="/folder.png" alt="Folder"></a>
                        <p class="semlabel">8th Semester</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!-- -------------------x MAIN x------------------ -->
    <br><br><br><br><br><br><br><br><br>

<!-- -------------------FOOTER------------------ -->
    <footer style="top: 171px;position: relative;">
        <div id="footer" class="d-flex justify-content-center">

      
            <div class="foo-container">
              <div class="row" style="margin-right: 0px;">
                <div class="col-4" id="part">
                  <h3 id="head-link">Quick Links</h3>
                  <ul style="padding: 0px !important; margin: 0px !important;">
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/Resources">Resource Hub</a></li>
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/#messages">Messages</a></li>
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/#annual_attraction">Annual Attractions</a></li>
                  </ul>
      
                </div>
      
                <div class="col-4" id="part" style="color:#fff">
                  <h3 style="font-size: 3vw;margin-bottom: 0.3rem !important;" class="mb-4">Contact Us</h3>
                  <h5 style="font-size:2vw;font-weight: 500;">Email: 
                    
                    <a href="mailto:ecs.nitsilchar2022@gmail.com" style="font-size: 1vw;">
                    ecs.nitsilchar2022@gmail.com</a> </h5>
    
                  <h5 style="font-size:2vw;margin-top: 0px !important; margin-bottom: 1vw !important;" class="mb-3 mt-3">Follow Us On</h5>
                  <i style="font-size: 2vw;" class="fab fa-facebook mx-2"></i>
                 <!-- <div class="d-flex justify-content-center">
                    <a href="" style="color:white;"><i style="font-size: 2vw;" class="fab fa-facebook mx-2"></i></a>
                 --><!-- <i style="font-size: xx-large;" class="fab fa-instagram mx-2"></i> -->
                    <!-- <img src="https://img.icons8.com/ios/50/000000/facebook-new.png"/> -->
                    <!-- <i class="fab fa-facebook"></i> -->
                 <!-- </div>-->
                </div>
                <div class="col-4" id="part">
                  <h3 id="head-link">Quick Links</h3>
                  <ul style="padding: 0px !important; margin: 0px !important;">
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/#About_Us">About Us</a></li>
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/Members">Members</a></li>
                    <li id="link" ><a style="text-decoration: none; color: #fff" href="/gallery">Gallery</a></li>
                  </ul>
                </div>
              </div><br>
              <div class="col-12" id="part"><a href="/FAQ">
                <h3 style="font-size: 2vw; font-weight: bolder;  margin-bottom: 1vw !important;margin-top: 1vw !important;" class="mb-4">FAQ</h3></a></div>
              <p class="col-12 cp-text">
                © Copyright 2022 ECS,NIT Silchar. All rights reserved.
            </p>
            </div>

          
     
    </footer>

    <!-- modal start -->

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
    <!---------------->
    <form action="https://formsubmit.co/ecs.nitsilchar2022@gmail.com" method="POST">
      <!-- Honeypot -->
      <input type="text" name="_honey" style="display: none;">

      <!-- Disable Captcha -->
      <input type="hidden" name="_captcha" value="false">
<!------------------>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-5 py-5">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="Email_ID"
                required
              />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea"
                rows="3"
                name="Comments"
                required
              ></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal end -->

    <script src="https://kit.fontawesome.com/b418e2874f.js" crossorigin="anonymous"></script>
    <script src="/js/script_reshub.js"></script>
</body>
</html>