/*body {
    font-family: tahoma;
    height: 100vh;
    background-image: linear-gradient(180deg, #380036 0%, #0cbaba 100%);
   background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }*/
  /*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap');*/
  body{
    background-image: linear-gradient(180deg, #380036 0%, #0cbaba 100%);
   /*background-color: white;*/
    width: 100%;
    overflow-x: hidden;
    object-fit: cover;
  }
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
   /* background-color: #f7f5ec;*/
   /*background-color: rgba(10, 10, 10, 0.829);*/
  /* background-color: #2c3035e3;*/
  /*background-image: linear-gradient(180deg, #380036 0%, #0cbaba 100%);*/
  background-image: linear-gradient(180deg, #0cbaba 3%,#380036  100%);
  background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 20%;
    color: white;
    border-radius: 10px;
    transition: 1s;
    /*new*/
    width: 80%;
   height:min-content;
  margin-left: 10%;
  }

  @media screen and (min-width:720px){
 .newgap{
   margin-left: 11em;
 }
}
  .our-team:hover{
    transform: translateX(10%);
  }
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
   /* opacity: 0.8;*/
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
 
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    
  }
  
 

  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    /*color: #4e5052;*/
    color: whitesmoke;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
 .developer{
     border: white;
     box-shadow: black 3px 3px 5px;
    /*position: absolute;*/
    position: relative;
    top: 5%;
    /*margin: 10px;*/
    margin: 0;
    height: 2em;
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

   
 }
 .developerpage{
  /* border: white;*/
  /* box-shadow: black 3px 3px 5px;*/
  /*position: absolute;*/
  position: relative;
  top: 5%;
  /*margin: 10px;*/
  margin: 0;
  height: 2em;
  color: blanchedalmond;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;

 
}

 .membr{

  
 /*position: absolute;*/
 position: relative;
 top: 15%;
 margin: 10px;
 height: 5em;
 /*color: rgb(62, 241, 217);*/
 color: rgba(180, 142, 70, 0.911);
 justify-content: center;
 align-items: center;
 text-align: center;
 display:flex;
 width: 100%;
 font-family: 'Dancing+Script', 'Roboto:ital@1' ;
 /*font-style: italic;*/
 font-size:4em;
 font-weight: bolder;
 transition: 1s;

 
}
.membr:hover{

  transform: translateY(10%);
}
@media screen and (max-width:540px) {
  .membr{

  
    /*position: absolute;*/
   position: relative;
    top: 25%;
    margin: 0;
    height: min-content;
    color: rgba(180, 142, 70, 0.911);
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    width: 100%;
    
    font-size: larger;
    font-weight: bolder;

    
   }
}
#btn{
  display: none;
}
 .row{
     margin: 100px;
 }

 .dark-mode {
  background-image: linear-gradient(180deg, #2d2c2e 0%, #0a0a0a 100%); 
  color: rgba(180, 142, 70, 0.911);
}
#light{
  color: rgba(180, 142, 70, 0.911);
}

.subHead{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  
}

/* carousel ends here*/

.modal-dialog {
  /* width: 1000px; */
  /* min-width: 80vw; */
  max-width: 800px !important;
  /* width: 80vw; */
}
.modal-content {
  background-color: #292929 !important;
  border-radius: 12px;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.form-control {
  background-color: #121212 !important;
  border: 2px solid #8e2de2 ;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white ;
}
input,
textarea {
  color: white !important;
}

